# ====== 雪花算法 ======
# 数据中心id
SNOWFLAKE_DCI=1
# 机器id
SNOWFLAKE_MI=1

# ====== 邮件配置 ======
MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_USERNAME=xxxx@qq.com
MAIL_PASSWORD=xxxxx
MAIL_FROM=xxxx@qq.com

# ====== MONGO数据库配置 ======
MONGO_URI=mongodb://localhost:27017/yudream