# Node
node_modules/

# Build output
build/
dist/

# Android
android/.gradle/
android/app/build/
android/build/
*.iml
.cxx/
android/app/debug.keystore
*.keystore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env.local
